/* commons */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

.container {
	margin: 0 20px;
}

header {
	height: 80px;
	line-height: 80px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

a.btn:hover {
	text-decoration: none;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

#logo img {
	vertical-align: middle;
	margin-right: 20px;
}

#logo {
	float: left;
}

nav {
	float: left;
}

nav li {
	display: inline-block;
	list-style: none;
	font-size: 13px;
	vertical-align: middle;
}

nav li a {
	margin: 0 20px;
	font-weight: 600;
}

#accedi {
	text-align: right;
	font-size: 13px;
	font-weight: 600;
}

#second-nav {
	float: right;
}

.btn {
	padding: 5px 15px;
	color: white;
	background-color: rgb(72, 98, 255);
	font-size: 13px;
	margin-left: 20px;
}

/* jumbotron */
.jumbotron {
	height: 650px;
	background-color: rgb(180, 208, 231);
}

.container-jumbo {
	width: 80%;
	margin: 0 auto;
}

.main-text {
	height: 500px;
}

.main-text h1 {
	text-align: left;
	font-size: 65px;
	padding-top: 50px;
}

.jumbo {
	width: 70%;
	float: right;
	margin-top: 30px;
}

.descrizione {
	width: 320px;
	float: left;
	margin-top: 30px;
	font-size: 14px;
	margin-bottom: 25px;
}

.btn-big {
	padding: 5px 15px;
	color: white;
	background-color: rgb(72, 98, 255);
	font-size: 13px;
}

#annulla {
	margin-top: 10px;
	font-size: 12px;
}

.freccia {
	margin-top: 30px;
	font-size: 35px;
}
